<input  size="" class="full_width" type="text" name="name" id="name_field" placeholder="Name your drawing here!">
<button id="save_button" class="save full_width">Save this canvas as a new drawing.</button>