<p> 
  Viewing
  <input id="viewing_sprite_id" value="<%= @viewing.id %>" type=hidden>
  <span id="viewing_sprite_name"><%= @viewing.name.capitalize %></span>
  by: 
  <span id="viewing_user_name"><%= @viewing.user.username.capitalize %></span>
</p>
<% if session[:user_id] == @viewing.user.id %>
  <button id="delete_button" class="clear">Delete this drawing.</button>
<% end%>