<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="draw.js" type="text/javascript" charset="utf-8"></script>
    <title>Draw Sprite Tool</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>