html {
  height: 100%;
}

div.interface {
  position: absolute;
  width: 50%;
  min-width: 350px;
  text-align: center;
  z-index: 2;
}

body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(187,185,188); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(187,185,188,1) 0%, rgba(88,104,126,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,185,188,1)), color-stop(100%,rgba(88,104,126,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb9bc', endColorstr='#58687e',GradientType=0 ); /* IE6-9 */
        
}

div#spacer {
  width: 100%;
}

div#login_bar {
  z-index: 4;
  background: rgb(52, 57, 106);
  position: absolute;
  width: 100%;
  height: 35px;
  top: 0;
}

div#canvas {
  z-index: 0;
  position: absolute;
  right: 0px;
  top: 0;
  height: 800px;
  min-width: 375px;
  background-image: url("gameboy.png");
  background-repeat: no-repeat;
  background-position: 5px 50px;
  background-size: 363px 710px;
}

div#palette {
  top: 100px;
}

div#loader {
  top: 200px;
}

.pixel {
  display: table-cell;
  width: 11px;
  height: 11px;
  background: white;
  border-right: 1px solid lavender;
  border-bottom: 1px solid lavender;
}

div#grid {
  position: absolute;
  top: 149px;
  border-top: 1px solid lavender;
  border-left: 1px solid lavender;
  margin-left: 93px;
  margin-right: auto;
}

.swatch {
  display: inline-block;
  border: 5px double black;
  height: 45px;
  width: 45px;
}

div#highlight {
  background: white;
}

div#midtone {
  background: lightgray;
}

div#shadow {
  background: slategray;
}

button {
  font-size: 12px;
  width: 180px;
  margin: 5px;
  border: 1px solid white;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
  
.box {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  vertical-align: middle;
}

.box p {
  color: rgb(186, 187, 194);
  margin: 3px;
  font-size: 10pt;
  font-family: sans-serif;
  text-transform: uppercase;
}

.highlight {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

button#load_button {
  float: right;
}

button.full_width {
  width: 340px;
}

input.full_width {
  width: 333px;
  margin-left: 3.5px;
  text-align: center;
  letter-spacing: 1.2px;
}

select#dropdown {
  margin: 5px;
  width: 150px;
  float: left;
  background: black;
  color: white;
}

div.saver {
  position: relative;
  top: 30px;
  left: 10px;
}

input {
  background: black;
  color: white;
  font-size: 12px;
  width: 157px;
  padding: 3px;
  margin: 2px;
  margin-left: 4px;
  border: 1px solid white;
}

p#user_p {
    position: absolute;
    left: 15px;
}

p#login_p {
    position: absolute;
    right: 15px;
}

div#login_bar p {
    color: white;
    font-family: sans-serif;
    margin: 0;
    margin-top: 5px;
}

div#login_bar a {
    color: rgb(186, 187, 194);
    font-weight: bolder;
}

form.saver {
  text-align: center;
}

.enter_info {
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.error {
  background: rgb(52, 57, 106);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 5px;
  margin-bottom: 0;
  font-family: sans-serif;
  color: white;
}

@media screen and (max-width: 750px) {

  div#canvas {
    top: -170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  div#loader {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 380px;
    left: -13px;
  }
  
  div#palette {
    position: relative;
    top: -55px;
    margin-left: auto;
    margin-right: auto;
  }
}
