html {
  height: 100%;
}

div.interface {
  width: 50%;
}

body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(187,185,188); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(187,185,188,1) 0%, rgba(88,104,126,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,185,188,1)), color-stop(100%,rgba(88,104,126,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(187,185,188,1) 0%,rgba(88,104,126,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb9bc', endColorstr='#58687e',GradientType=0 ); /* IE6-9 */
        
}

div#spacer {
  width: 100%;
}

div#canvas {
  height: 800px;
  float: right;
  background-image: url("gameboy.png");
  background-repeat: no-repeat;
  background-position: 5px 80px;
  background-size: 363px 710px;
}

div#pallette {
  height: 400px;
  float: left;
  text-align: center;
  position: relative;
}

div#loader {
  position: absolute;
  top: 400px;
  height: 400px;
  text-align: center;
}

.pixel {
  display: table-cell;
  width: 11px;
  height: 11px;
  background: white;
  border-right: 1px solid lavender;
  border-bottom: 1px solid lavender;
}

div#grid {
  position: absolute;
  top: 179px;
  border-top: 1px solid lavender;
  border-left: 1px solid lavender;
  margin-left: 93px;
  margin-right: auto;
}

.swatch {
  display: inline-block;
  border: 5px double black;
  height: 45px;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

div#highlight {
  background: white;
}

div#midtone {
  background: lightgray;
}

div#shadow {
  background: slategray;
}

button {
  font-size: 12px;
  width: 180px;
  margin: 5px;
  border: 1px solid white;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  text-transform: uppercase;}

button#load_button {
  float: right;
}

.controls {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  vertical-align: middle;
}

select#dropdown {
  margin: 5px;
  width: 150px;
  float: left;
  background: black;
  color: white;
}

div.saver {
  position: relative;
  top: 30px;
  left: 10px;
}

input {
  background: black;
  color: white;
  font-size: 12px;
  width: 140px;
  padding: 3px;
  margin: 2px;
  border: 1px solid white;
}

div#login_bar {
    background: rgb(52, 57, 106);
    position: fixed;
    width: 100%;
    height: 35px;
}

p#user_p {
    position: absolute;
    left: 15px;
}

p#login_p {
    position: absolute;
    right: 15px;
}

div#login_bar p {
    color: white;
    font-family: sans-serif;
    margin: 0;
    margin-top: 5px;
}

div#login_bar a {
    color: rgb(186, 187, 194);
    font-weight: bolder;
}

form.saver {
  text-align: left;
}

.enter_info {
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

input#no_save {
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}