div.interface {
    background: lightblue;
    width: 50%;
}

body {
    margin: 0;
}

div#spacer {
    width: 100%;
}

div#canvas {
    height: 800px;
    float: right;
    text-align: center;
}

div#pallette {
    height: 400px;
    float: left;
    text-align: center;
}

div#loader {
    position: absolute;
    top: 400px;
    height: 400px;
}

.pixel {
    display: table-cell;
    width: 15px;
    height: 15px;
    background: white;
    border-right: 1px solid lavender;
    border-bottom: 1px solid lavender;
}

div#grid {
    position: absolute;
    top: 200px;
    border-top: 1px solid lavender;
    border-left: 1px solid lavender;
    margin-left: 40px;
    margin-right: auto;
}

.swatch {
    height: 45px;
    width: 45px;
    border: 1px solid darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

div#highlight {
    background: white;
}

div#midtone {
    background: lightgray;
}

div#shadow {
    background: slategray;
}